.btn-terri {
  background: black;
  color: #ffffff;
  font-family: 'Josefin Sans';
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-terri:hover {
  background: #35465c;
  text-decoration: none;
}

body {
 background-color:none;
}
